<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/styles/style.css' />
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,900,600,300,200,100' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <nav class="nav">
            <img src="/images/logo.png" class="logo">
            <ul>
                <li><span class="sprite sprite-home"></span><a href="/">Home</a></li>
                <li><span class="sprite sprite-latest"></span><a href="https://looklive.com/discover/">Latest</a></li>
                <li><span class="sprite sprite-people"></span><a href="https://looklive.com/people/">People</a></li>
                <li><span class="sprite sprite-shows"></span><a href="https://looklive.com/shows/">Shows</a></li>
                <li><span class="sprite sprite-music"></span><a href="https://looklive.com/music/">Music</a></li>
                <li><span class="sprite sprite-brands"></span><a href="https://looklive.com/brands/">Brands</a></li>
            </ul>
        </nav>
        <header class="header">
            <img src="/images/header10.jpg">
        </header>

        <main>
            {{{body}}}
        </main>
		<script src="/js/app.js" async></script>
		<script id="codeSource">
			
			if ('serviceWorker' in navigator) {
			  navigator.serviceWorker.register('sw.js', { scope: './' })
				.then(function(reg) {
				  console.info('registered sw', reg);
				})
				.catch(function(err) {
				  console.error('error registering sw', err);
				});
			} else {
				console.log('Not supported')
			}
		</script>
    </body>
</html>
